@using ResumeProject.Models
@model List<Tbl_Contact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered">

    <tr>

        <th>#</th>
        <th>Name Surname</th>
        <th>Mail</th>
        <th>Subject</th>
        <th>Message</th>
        <th>Date</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Show Message</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactID</td>
            <td>@item.NameSurname</td>
            <td>@item.Mail</td>
            <td>@item.Tbl_Category.CategoryName</td>
            <td>@item.Message</td>
            <td>@item.Date</td>
            <td><a href="/Contact/DeleteMessage/@item.ContactID" class="btn btn-outline-danger">Delete</a></td>
            <td><a href="#" class="btn btn-outline-success">Update</a></td>
            <td><a href="#" class="btn btn-outline-dark">Show Message</a></td>

        </tr>


    }


</table>